.container {
  width: 100%;
}

.image {
  width: 15em;
}

.meters {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 10em;
}

.meter {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;

  &:first-child .bar {
    background-color: map(colors, productos, opinion);
  }

  &:nth-child(2n) .bar {
    background-color: #FC8E00;
  }

  &:nth-child(3n) .bar {
    background-color: map(colors, primary, base);
  }

  &:nth-child(4n) .bar {
    background-color: #0f9d58;
  }

  &:nth-child(5n) .bar {
    background-color: map(colors, productos, santander);
  }

  &:nth-child(6n) .bar {
    background-color: map(colors, red, deLaPaz);
  }

  &:nth-child(7n) .bar {
    background-color: map(colors, red, deLaMujer);
  }

  &:nth-child(8n) .bar {
    background-color: #c00d0d;
  }

  &:nth-child(9n) .bar {
    background-color: map(colors, red, rural);
  }

  &:hover {
    .compact {
      opacity: 1;
      bottom: -1.5em;
    }
  }
}

.bar {
  background-color: map(colors, primary, base);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 1s;
}

.show {
  transform: scaleY(1);
}

.description {
  position: absolute;
  z-index: 1;
  padding: .5em;
  transition: 1s;

  h4 {
    margin-bottom: 0.2em;
  }
}

.compact {
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  left: 1.5em;
  transform-origin: left;
  opacity: 0;
  bottom: -3em;
  transition: .4s;
}