.root {
  .title {
    font-size: 2em;
    color: map(colors, primary, xdark);

    &.fixed {
      position: absolute;
      top: 1em;
    }
  }

  .subtitle {
    font-size: 1.5em;
    color: map(colors, secondary, dark);
  }

  .content {
    ul {
      padding: 0;
      list-style: none;

      li {
        &::before {
          content: '- ';
        }
      }
    }
  }
}