.root {
  .title,
  .subtitle {
    z-index: 5;
    position: relative;
    transition: .4s;
  }

  .title {
    font-size: 2em;
    color: map(colors, primary, xdark);

    .subtitle {
      font-size: .6em;
    }

    &.fixed {
      position: absolute;
      top: 1em;
    }
  }

  .subtitle {
    font-size: 1.5em;
    color: map(colors, secondary, dark);

    &.fixed {
      position: absolute;
      top: 4em;
    }
  }

  .content {
    margin-top: 2em;

    ol,
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      counter-reset: my-counter;
      list-style: none;
      justify-content: space-between;

      li {
        flex-basis: calc(33.3333% - .5em);
        padding: 0.75em 1em;
        margin-bottom: 1em;
        background-color: map(colors, neutral, lightest);

        &::before {
          content: counter(my-counter);
          counter-increment: my-counter;
          font-size: 2em;
          font-weight: bold;
          display: block;
          line-height: 1;
        }
      }
    }

    ul {
      li {
        &::before {
          content: '- ';
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.background {
  .title,
  .subtitle {
    color: #fff;
  //left: 3rem;
  }
}