.root {
  .title,
  .subtitle {
    z-index: 5;
    position: relative;
    transition: .4s;
  }

  .title {
    font-size: 2em;
    color: map(colors, primary, xdark);

    .subtitle {
      font-size: .6em;
    }

    &.fixed {
      position: absolute;
      top: 1em;
    }
  }

  .subtitle {
    font-size: 1.5em;
    color: map(colors, secondary, dark);

    &.fixed {
      position: absolute;
      top: 4em;
    }
  }

  .content {
    ul {
      padding: 0;
      list-style: none;

      li {
        &::before {
          content: '- ';
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.video {
  .title,
  .subtitle {
    color: #fff;
    left: 3rem;
  }
}