.container {
  width: 100%;
}

.frame {
  position: absolute;
  top: 5.5em;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  width: 100%;
  height: calc(100% - 5.5em);
}

.compact {
  max-width: 375px;
  max-height: 667px;
  margin: auto;
  border: 1px solid map(colors, primary, base);
}